.header {
  display: flex;
  justify-content: space-between;
  border: 1px solid black;
}

.logo-container {
  padding: 0px 20px;
}

.logo {
  width: 120px;
}

.nav-items {
  padding: 0px 20px;
}

.nav-items > ul {
  display: flex;

  list-style-type: none;
  font-size: 24px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.restaurant-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  justify-items: center;
}

.restaurant-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 450px;
}

.restaurant-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-logo {
  width: 100%;
  height: 40%;
  object-fit: cover;
}

.filter-btn {
  margin: 10px;
  cursor: pointer;
}

.shimmer-card {
  margin: 5px;
  padding: 5px;
  width: 200px;
  height: 450px;
  background-color: #f0f0f0;
}

.shimmer-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
  grid-gap: 15px;
  justify-items: center;
}

.login {
  padding: 0px 20px;
  cursor: pointer;
}

.filter {
  display: flex;
}
